body {
	margin: 0 auto;
}

.container {
	width: 200vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.conteudo {
	width: 70%;
	text-align:center;
}

.conteudo-form {
	width: 70%;
}

.conteudo-table {
	width: 100%;
}

.separador{
	width: 100%;
	height: 60px;
}
.icon-links{
	margin-left: 10px;
}

form button{
	width: 100%;
}